/*
margin: jarak div antara div lain
padding: ukuran div nya agar tidak mepet
width: lebar div
 */

*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --border-shadow: 0 0 26px 10px #00000036;
    --color-dc: #5865F2;
    --color-ig: #E1306C;
    --color-gh: black;
}

body {
    font-family: 'Jost';
    background-color: #1F252C
}

.container {
    text-align: center;
    margin-top: 20%;
}

.img-profile img {
    border-radius: 50%;
}

.text-center {
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;
    margin-bottom: 30px;
}

.container-btn {
    color: black;
    display: flex;
    justify-content: center;
}

.btn {
    border: 2px solid black;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 20px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Jost';
}

.btn-dc {
    background-color: var(--color-dc);
    color: white;
    border: none;
    transition: background 0.3s, color 0.3s, border 0.3s, transform 0.3s;
}

.btn-dc:hover {
    background-color: white;
    color: var(--color-dc);
    transform: scale(1.05);
}

.btn-ig {
    background-color: var(--color-ig);
    color: white;
    border: none;
    transition: background 0.3s, color 0.3s, border 0.3s, transform 0.3s;
}

.btn-ig:hover {
    background-color: white;
    color: var(--color-ig);
    transform: scale(1.05);
}

.btn-gh {
    background-color: var(--color-gh);
    color: white;
    border: none;
    transition: background 0.3s, color 0.3s, border 0.3s, transform 0.3s;
}

.btn-gh:hover {
    background-color: white;
    color: var(--color-gh);
    transform: scale(1.05);
}
